<div class="form-slide">
  <form>
    <h2 class="fs-title">Trip Basic Information</h2>
    <fieldset class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title">
    </fieldset>

    <fieldset class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
    </fieldset>

    <fieldset class="form-group">
      <label for="expected_budget">Expected Budget</label>
      <input type="number" class="form-control" id="expected_budget" min="0" placeholder="Enter expected budget">
    </fieldset>

    <fieldset class="form-group">
      <label>Participants</label>
      <ul id="participantTags"></ul>
    </fieldset>

    <fieldset class="form-group">
      <label>Starting Information</label>
      <div class="col-md-12">
        <div class="col-md-6">
          <input class="typeahead form-control" type="text" placeholder="Departure" id="departure">
        </div>

        <div class="col-md-6">
          <input title="Start Date" type="text" class="form-control datetimepicker" id="start-date" placeholder="Enter Start Date"/>
        </div>
      </div>
    </fieldset>

    <input type="button" name="save" class="btn btn-primary" value="Save"/>
    <input type="button" name="next" class="next action-button" value="Next"/>
  </form>

  <script>
    // datetime picker
    $('.datetimepicker').datetimepicker({
      format: 'DD-MMM-YYYY'
    });

    // friends tag
    $.ajax({
      method: 'GET',
      url: '/users/friends',
      success: function (data) {
        $('#participantTags').tagit({
          availableTags: data.map(function (user) {
            return user.name
          }),
          singleField: true,
          singleFieldNode: $('#participant')
        });
      }
    });

    // Departure
    $.ajax({
      method: 'GET',
      url: '/regions/all',
      success: function (data) {
        states = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: data.map(function (region) {
            return region.name;
          })
        });
        $('#departure').typeahead({
              hint: true,
              highlight: true,
              minLength: 1
            },
            {
              name: 'states',
              source: states
            });
      }
    });
  </script>
</div>
