<h2 class="fs-title short-border">Budget Plan</h2>
<div class="budget-plan">
  <div class="budget-plan-table">
    <div class="budget-row header-budget">
      <div class="col-md-3">
        Item
      </div>
      <div class="col-md-3">
        Assignee
      </div>
      <div class="col-md-3">
        Cost
      </div>
      <div class="col-md-3">
        Actions
      </div>
    </div>

    <div id="list_budget_sections">
      <%= render @budget_sections %>
    </div>

    <div class="budget-row total-budget">
      <div class="col-md-3">Total:</div>
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-3">
        <%= format_price(@trip.total_money) %>
      </div>
      <div class="col-md-3">
        &nbsp;
      </div>
    </div>
  </div>

  <script>
    // TODO: add logic calculate total amount
  </script>

  <div class="budget-plan-split-individual">
    <span class="budget-plan-split-individual-title">Individual Expenses</span>
    <div class="panel-group" id="accordion">
      <%= render partial: 'users/user_with_budgets', collection: @user_with_budgets, as: :user %>
    </div>
  </div>
</div>

<%= render 'trips/footer_navigator' %>
