<div class="form-slide">
  <form>
  <h2 class="fs-title">Budget Plan</h2>
  <h3 class="fs-subtitle">We will never sell it</h3>
  <input type="text" name="fname" placeholder="First Name" />
  <input type="text" name="lname" placeholder="Last Name" />
  <input type="text" name="phone" placeholder="Phone" />
  <textarea name="address" placeholder="Address"></textarea>
  <input type="button" name="previous" class="previous action-button" value="Previous" />
  <input type="button" name="next" class="next action-button" value="Next" />
  </form>
</div>