<!-- multistep form -->
<div id="msform" data-no-turbolink>
  <!-- progressbar -->
  <ul id="progressbar">
    <li>Basic Info</li>
    <li>Itinerary</li>
    <li>Budget Plan</li>
    <li>Gallery</li>
  </ul>

  <!-- fieldsets -->
  <div class="form-slide" id="basic_info"></div>
  <div class="form-slide" id="itinerary"></div>
  <div class="form-slide" id="budget_plan"></div>
  <div class="form-slide" id="gallery"></div>
</div>

<script>
  $(document).ready(function () {
    // Retrieve current screen
    currentScreen = $('#<%= current_screen %>');

    $.ajax({
      method: 'GET',
      url: '/trips/<%= @trip.id %>/' + currentScreen[0].id + '.js',
      success: function (data) {
        hideLoading();
        updateStateIndicator(currentScreen);
        currentScreen.fadeIn(800);
      }
    });

    $("body").on('click', '.foot-nav .next', function (event) {
      event.preventDefault();
      moveToNextScreen();
    });

    $("body").on('click', '.foot-nav .previous', function (event) {
      event.preventDefault();
      moveToPreviousScreen();
    });

    moveToNextScreen = function () {
      showLoading();
      var nextScreen = currentScreen.next();
      $.ajax({
        method: 'GET',
        url: '/trips/<%= @trip.id %>/' + nextScreen[0].id + '.js',
        success: function (data) {
          hideLoading();
          updateStateIndicator(nextScreen);
          doAnimation(nextScreen);
        }
      });
    };

    moveToPreviousScreen = function () {
      showLoading();
      var prevScreen = currentScreen.prev();
      $.ajax({
        method: 'GET',
        url: '/trips/<%= @trip.id %>/' + prevScreen[0].id + '.js',
        success: function (data) {
          hideLoading();
          updateStateIndicator(prevScreen);
          doAnimation(prevScreen);
        }
      });
    };

    updateStateIndicator = function(newScreen) {
      var i;
      for (i = 0; i <= $(".form-slide").index(currentScreen); i++) {
        $("#progressbar li").eq(i)
            .removeClass("active");
      }
      for (i = 0; i <= $(".form-slide").index(newScreen); i++) {
        $("#progressbar li").eq(i)
            .addClass("active");
      }
    };

    doAnimation = function (newScreen) {
      newScreen.fadeIn(800);
      currentScreen.fadeOut(800);
      currentScreen = newScreen;
    };

    $(".submit").click(function () {
      return false;
    })
  });
</script>