<!-- multistep form -->
<div id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Basic Info</li>
    <li>Itinerary</li>
    <li>Budget Plan</li>
    <li>Todo</li>
    <li>Attachment</li>
  </ul>

  <!-- fieldsets -->
  <div class="form-slide" id="basic_info">
    <%= render 'trips/basic_info' %>
  </div>

  <div class="form-slide" id="itinerary">
  </div>

  <div class="form-slide" id="budget_plan">
    <%= render 'trips/budget_plan' %>
  </div>

  <div class="form-slide" id="todo">
    <%= render 'trips/todo' %>
  </div>

  <div class="form-slide" id="attachment">
    <%= render 'trips/attachment' %>
  </div>
</div>

<script>
  $(document).ready(function () {
    hideLoading();

    // jQuery time
    current_fs = $('#basic_info'); // fieldsets
    var left, opacity, scale; // fieldset properties which we will animate
    var animating; // flag to prevent quick multi-click glitches

    $(".next").click(function (e) {
      e.preventDefault();
      nextScreen();
    });

    $(".previous").click(function(){
      alert("test");
    });

    moveToNextScreen = function () {
      if (animating) return false;
      animating = true;
      var next_fs = current_fs.next();
      $("#progressbar li").eq($(".form-slide").index(next_fs)).addClass("active");
      next_fs.fadeIn(800);
      current_fs.fadeOut(800);
      current_fs = next_fs;
    };




    $(".submit").click(function () {
      return false;
    })
  });
</script>