<!-- multistep form -->
<div id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Basic Info</li>
    <li>Itinerary</li>
    <li>Budget Plan</li>
    <li>Gallery</li>
  </ul>

  <!-- fieldsets -->
  <div class="form-slide" id="basic_info">
    <%= render 'trips/basic_info' %>
  </div>

  <div class="form-slide" id="itinerary">
  </div>

  <div class="form-slide" id="budget_plan">
    <%= render 'trips/budget_plan' %>
  </div>

  <div class="form-slide" id="attachment">
    <%= render 'trips/attachment' %>
  </div>
</div>

<script>
  $(document).ready(function () {

    $("body").on('click','.next',function (event) {
      event.preventDefault();
      moveToNextScreen();
    });

    $("body").on('click','.previous',function (event) {
      event.preventDefault();
      moveToPreviousScreen();
    });

    hideLoading();
    currentScreen = $('#basic_info');

    moveToNextScreen = function () {
      doAnimation(currentScreen.next());
    };

    moveToPreviousScreen = function () {
      doAnimation(currentScreen.prev());
    };

    doAnimation = function (nextScreen) {
      $("#progressbar li").eq($(".form-slide")
          .index(nextScreen))
          .addClass("active");
      nextScreen.fadeIn(800);
      currentScreen.fadeOut(800);
      currentScreen = nextScreen;
    };

    $(".submit").click(function () {
      return false;
    })
  });
</script>