<div class="form-slide">
  <h2 class="fs-title">Itinerary</h2>

  <div class="itinerary">
    <div class="row">
      <div class="itinerary-details">
        <div class="tabs-left">
          <ul class="nav nav-tabs-vertical" id="day-left-panel">
            <%= render partial: 'schedule_days/li_schedule_day', collection: @schedule_days, as: :day %>
          </ul>
          <div class="tab-content itinerary-content">
            <%= render @schedule_days %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to 'Add Day', trip_schedule_days_path(@trip), method: :post,
                remote: true, class: 'btn btn-primary btn-lg btn-block btn-add-schedule' %>
  </div> <!-- /container -->
</div>

<script>
  $(function () {
    $(".sortable").sortable();
    $(".sortable").disableSelection();
    $(".remove-itinerary a").click(function(e){
      e.preventDefault();
        var removeEle = $(this).attr('rel');
      $("#" + removeEle).remove();
      return false;
    });
  });
</script>