<div class="form-slide">
  <h2 class="fs-title">Itinerary</h2>

  <div class="itinerary">
    <div class="row">
      <div class="itinerary-details">
        <div class="tabs-left">
          <ul class="nav nav-tabs-vertical" id="day-left-panel">
            <li></li>
            <li class="active" id="li-day1"><a href="#day1" data-toggle="tab" class="days-tab font-normal">Day 1</a>
            </li>
          </ul>
          <div class="tab-content itinerary-content">
            <%= render @trip.schedule_days %>
          </div> <!-- /tab-content -->
        </div> <!-- /tabbable -->
      </div> <!-- /col -->
    </div> <!-- /row -->

    <%= link_to 'Add Day', trip_schedule_days_path(@trip), method: :post,
                remote: true, class: 'btn btn-primary btn-lg btn-block' %>
  </div> <!-- /container -->
</div>

<script>
  $(function () {
    $(".sortable").sortable();
    $(".sortable").disableSelection();
  });
</script>