<div class="modal fade trip-form" id="trip-form" tabindex="-1" role="dialog" aria-labelledby="tripFormLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="loginFormLabel">Create New Trip</h4>
      </div>
      <%= form_tag trips_path, method: :post, remote: true do %>
          <div class="modal-body">
            <div id="trip-error"></div>

            <div class="form-group">
              <label for="title" class="form-control-label">Title:</label>
              <input type="text" class="form-control" id="title"
                     name="trip[title]" placeholder="Enter your title">
            </div>

            <div class="form-group">
              <label for="expected_budget">Expected Budget:</label>
              <input type="number" class="form-control" id="expected_budget"
                     placeholder="Enter expected budget" name="trip[expected_budget]" min="0">
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">Create</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>