<div class="top-home">
  <div class="row">
    <div class="name-center">
      <h1>WE TRIP</h1>
    </div>
    <div class="info-right">
      <div class="bd-example">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-form">Login</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#register-form">Register</button>
      </div>
    </div>
  </div>
  <%= render 'home/login' %>
  <%= render 'home/register' %>
</div>

