<div class="top-home">
  <div class="row">
    <div class="name-center">
      <h1>WE TRIP</h1>
    </div>
    <div class="info-right">
      <div class="bd-example">
        <% if sign_in? %>
            <%= link_to 'Logout', sessions_path, method: :delete, class: 'btn btn-danger' %>
            <%= link_to 'Edit Profile', edit_user_path(current_user_id), method: :get, class: 'btn btn-warning' %>
      <% else %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-form">Login</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#register-form">Register</button>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'sessions/new' %>
  <%= render 'users/new' %>
</div>