<% if params[:controller] == 'home' %>

<form class="form-inline home-search" method="get" action="/searchs">
  <div class="form-group">
    <label class="sr-only" for="fromPlace">From</label>
    <input type="text" class="form-control home-search-box" id="fromPlace" name="departure" placeholder="Departure">
  </div>
  <div class="form-group">
    <label class="sr-only" for="toPlace">To</label>
    <input type="text" class="form-control home-search-box" id="toPlace" name="destination" placeholder="Destination">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<% end %>

<script>
  $.ajax({
    method: 'GET',
    url: '/regions/get_starting_regions',
    success: function (data) {
      var states = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: data.map(function (region) {
          return region.name;
        })
      });
      $('#fromPlace').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        source: states
      });
    }
  });

  $('#fromPlace').change(function() {
    if ($('#fromPlace').val()) {
     $.ajax({
      method: 'GET',
      url: '/regions/get_destinations_regions',
      data: {name: $('#fromPlace').val()},
      success: function (data) {
        var states = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: data.map(function (region) {
            return region.name;
          })
        });

        $('#toPlace').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          name: 'states',
          source: states
        });
      }
    });
   }
 });

</script>
