<% if params[:controller] == 'home' %>
<form class="form-inline home-search">
  <div class="form-group">
    <label class="sr-only" for="fromPlace">From</label>
    <input type="email" class="form-control home-search-box" id="fromPlace" placeholder="Departure">
  </div>
  <div class="form-group">
    <label class="sr-only" for="toPlace">Password</label>
    <input type="password" class="form-control home-search-box" id="toPlace" placeholder="Destination">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<% end %>

<script>
  $.ajax({
    method: 'GET',
    url: '/regions/get_starting_regions',
    success: function (data) {
      var states = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: data.map(function (region) {
          return region.name;
        })
      });
      $('#fromPlace').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        source: states
      });
    }
  });
</script>
