<div class="budget-row section-budget-item pre-trip-budget">
  <div class="col-md-4">
    <%= budget_item.name %>
  </div>
  <div class="col-md-4">
    <%= budget_item.assignee %>
  </div>
  <div class="col-md-4">
    <%= format_price(budget_item.price) %>
  </div>
</div>