<div class="col-xs-6 col-md-3">
<a class="thumbnail" href="<%= place_photo.url %>" title="<%= place_photo.place_name %>" data-gallery>
  <img src="<%= place_photo.url %>" alt="<%= place_photo.place_name %>">
</a>
</div>