<a href="<%= place_photo.url %>" title="<%= place_photo.place_name %>" data-gallery>
  <img class="trip-gallery-photo-item" width="300" height="300"
       src="<%= place_photo.url %>" alt="<%= place_photo.place_name %>">
</a>
