var current_index = $(".days-tab").length;
var next_index = current_index + 1;
$("#li-day" + current_index).removeClass('active');
$("#day" + current_index).removeClass('active');
var append_vertical = ''
    + '<li class="active" id="li-day' + next_index + '">'
    + '<a href="#day' + next_index + '" data-toggle="tab" class="days-tab">Day ' + next_index + '</a>'
    + '</li>';
var append_schedule = "<%= j(render @schedule_day ) %>";
$("#day-left-panel").append(append_vertical);
$(".itinerary-content").append(append_schedule);