<div class="modal fade trip-form" id="friend-form" tabindex="-1" role="dialog" aria-labelledby="friendFormLabel"
aria-hidden="true" xmlns="http://www.w3.org/1999/html">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" id="loginFormLabel">Add Friends</h4>
		</div>

		<div class="modal-body col-sm-12">
			<div class="form-group">
				<label for="search" class="form-control-label">Search:</label>
				<input type="text" class="form-control" id="search_data" placeholder="Enter name or mail" >
			</div>

			<div class="form-group">
				<div id="result_users">
				</div>
			</div>
		</div>

		<div class="modal-footer">
		</div>
	</div>
</div>

<script>
	$('#friend-form').on('hidden.bs.modal', function (e) {
		$('#friend-error').html("");
	})

	$('#search_data').on('input', function(e){
		if($('#search_data').val()){
			$('#selected_users').append("<p>" + $(this).val() + "</p>");
			$.ajax({
				method: 'GET',
				url: '/users/available_friends',
				data: { search_data: $('#search_data').val() },
				success: function (data){
					console.log(data);

					$('#result_users').empty();
					$('#result_users').append("<hr>");
					for (var i = 0; i < data.length; i++) {
						$('#result_users').append("<div class='add_friend_result_wraper' id='user#" + data[i].id + "'><span class='result_name'>" + data[i].name + "</span><span class='result_id' style='display: none'>"+ data[i].id +"</span><button class='add_to_query'>Add</button></div>");
					}

					$('#result_users .add_friend_result_wraper .add_to_query').on('click', function(){
						$(this).parent().remove();

						$.ajax({
							type: "POST",
							url: '/friend_relations',
							data: { 'target_id': $(this).parent().find('.result_id').text() },
							success: function (){
								    alert('success');
							}
						});
					});
				}
			});
		}
	});


	$('#search_data #user').on('input', function(e){});

</script>
