<div class="notification">
	<% if userNotification.notification.category.eql? "request" %>
	<p><b><%= userNotification.sender.name%></b></p>
	<%= userNotification.notification.description %>
	<p>
		<span class="sender_id" style="display: none"><%= userNotification.sender.id%></span>
		<button class="accept">Accept</button>
		<button class="deny">Deny</button>
	</p>
	<% else %>
	<% end %>
</div>

<script>
	$('.notification .accept').on('click', function(e){
		$.ajax({
			method: 'POST',
			url: 'friend_relations/confirm',
			data: { 'target_id': $(this).parent().find('.sender_id').text() },
			success: function (data){

			}
		});
	});

	$('.notification .deny').on('click', function(e){
		$(this).parent().parent().remove();
		$.ajax({
			method: 'POST',
			url: 'friend_relations/reject',
			data: { 'target_id': $(this).parent().find('.sender_id').text() },
			success: function (data){
			}
		});
	});
</script>
