<div class='add_friend_result_wraper'><span class='result_name'><%= friend.name %></span><span class='result_id' style='display: none'><%= friend.id %></span><button class='add_to_query'>Add</button></div>
