<div>
  <div class="row">
    <div class="col-sm-4 profile">
      <h3><%= @user.name %></h3>
      <p><%= @user.email %></p>
      <br>
      <p>Points: <%= @user.point %></p>
    </div>
    <div class="col-sm-8">

    </div>
  </div>
</div>
