<div class="container">

  <h2 class="home-info">WE SHIP YOU AN APP TO: </h2>
  <div class="site-features">
    <div class="col-md-4 site-feature">
      <span class="search-icon"></span>
      <div class="feature-info">
        <h3>SEARCH</h3>
        <p>
          Find details of tourist attractions and learn about travel experiences from available trips.
        </p>
      </div>
    </div>

    <div class="col-md-4 site-feature">
      <span class="planning-icon"></span>
      <div class="feature-info">
        <h3>PLAN</h3>
        <p>
          Setup a plan for your upcoming trips with our itinerary and budget tool.
        </p>
      </div>
    </div>

    <div class="col-md-4 site-feature">
      <span class="share-icon"></span>
      <div class="feature-info">
        <h3>SHARE</h3>
        <p>
          Share your trips to your friends and the whole network.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="site-best-contributor">
<h2>
  Our Best Contributors:
</h2>

  <div class="best-contributor-display">
    <div class="best-contributor-carousel">
      <div>
        <div class="best-contributor-photo"><img src="http://www.artlimited.net/user/0/0/1/6/5/1/5/artlimited_img265270.jpg" /></div>
        <div class="contributor-info">
          <h3>Vu Huy Quan </h3>
          <span class="num-contribution">10 Trips</span>
          <span class="top-contributor-icon"></span>
        </div>
      </div>
      <div>
        <div class="best-contributor-photo"><img src="http://www.fitgirls.nl/uploads/2015/01/Girl-Happy-Face-Wallpaper.jpg" /></div>
        <div class="contributor-info">
          <h3>Vu Huy Quan </h3>
          <span class="num-contribution">10 Trips</span>
          <span class="top-contributor-icon"></span>
        </div>
      </div>
      <div>
        <div class="best-contributor-photo"><img src="http://farm3.static.flickr.com/2390/1498191552_239b65279e.jpg?v=0" /></div>
        <div class="contributor-info">
          <h3>Vu Huy Quan </h3>
          <span class="num-contribution">10 Trips</span>
          <span class="top-contributor-icon"></span>
        </div>
      </div>
      <div>
        <div class="best-contributor-photo"><img src="https://az598155.vo.msecnd.net/wp-uploads/2015/05/smiley_face_on_cardboard-4183.jpg" /></div>
        <div class="contributor-info">
          <h3>Vu Huy Quan </h3>
          <span class="num-contribution">10 Trips</span>
          <span class="top-contributor-icon"></span>
        </div>
      </div>
      <div>
        <div class="best-contributor-photo"><img src="http://farm3.static.flickr.com/2390/1498191552_239b65279e.jpg?v=0" /></div>
        <div class="contributor-info">
          <h3>Vu Huy Quan </h3>
          <span class="num-contribution">10 Trips</span>
          <span class="top-contributor-icon"></span>
        </div>
      </div>
      <div>
        <div class="best-contributor-photo"><img src="https://s-media-cache-ak0.pinimg.com/236x/00/63/01/006301373b10a9e88a58b9ff627c7437.jpg"/></div>
        <div class="contributor-info">
          <h3>Vu Huy Quan </h3>
          <span class="num-contribution">10 Trips</span>
          <span class="top-contributor-icon"></span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="site-our-team">
  <h2 class="home-info">WE-TRIP IS PROUDLY BUILT BY: </h2>
  <div class="team-info">
    <div class="col-md-4 site-mem">
      <span class="landoan-photo"></span>
      <div class="mem-name">
        <h3>Doan Phuong Lan</h3>
      </div>
    </div>

    <div class="col-md-4 site-mem">
      <span class="quanvu-photo site-mem"></span>
      <div class="mem-name">
        <h3>Vu Huy Quan</h3>
      </div>
    </div>

    <div class="col-md-4 site-mem">
      <span class="khanhdang-photo"></span>
      <div class="mem-name">
        <h3>Dang Kim Khanh</h3>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.best-contributor-carousel').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 4
    });
  });
</script>
