/*
 *= require_self
 *= require blueimp-gallery
 *= require bootstrap-image-gallery
 *= require blueimp-gallery-indicator
 *= require blueimp-gallery-video
 *= require jquery-ui
 *= require jquery.tagit.css
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import 'bootstrap-datetimepicker';

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

@font-face {
  font-family: josefin;
  src: font-url('JosefinSans-Regular.eot');
  src: font-url('JosefinSans-Regular.ttf') format('truetype'),
  font-url('JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('JosefinSans-Regular.woff') format('woff'),
  font-url('JosefinSans-Regular.svg#webfont') format('svg');
}

@font-face {
  font-family: josefinBold;
  src: font-url('JosefinSans-Bold.eot');
  src: font-url('JosefinSans-Bold.ttf') format('truetype'),
  font-url('JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('JosefinSans-Bold.woff') format('woff'),
  font-url('JosefinSans-Bold.svg#webfont') format('svg');
}
@font-face {
  font-family: blanchCap;
  src: font-url('blanch_caps.eot');
  src: font-url('blanch_caps.ttf') format('truetype'),
  font-url('blanch_caps.eot?#iefix') format('embedded-opentype'),
  font-url('blanch_caps.woff') format('woff'),
  font-url('blanch_caps.svg#webfont') format('svg');
}

body, p, a{
  font-family: josefin;
}
h1{
  font-family: blanchCap;
}
h2, h3, h4, h5, h6, strong, .bold-text {
  font-family: josefinBold;
}
.top-home{
  background: #212121;
  width: 1440px;
  h1{
    font-size: 90px;
    color: #fff;
  }
  .name-center{
    float: left;
    margin-left: 620px;
  }
  .info-right{
    margin-top: 30px;
    float: right;
    width: 300px;
  }
  .top-after-login{
    border: none;
    a{
      background: none;
    }
    .nav-link{

      padding: 5px;
      height: 45px;
      border: none !important;
      width: 159px;
      .img-rounded{
        float: left;
      }
      .username-right-top{
        float: left;
        font-size: 20px;
        margin-top: 6px;
        margin-left: 5px;
      }

    }
    .nav-link:hover{
      color: #777777;
    }

    .caret{
      margin-top: 15px;
    }
    .dropdown-item:hover{
      background-color: #EFEFEF;
    }
    span{
      font-size: 18px;
    }
  }
}
.top_img_home{
  background-image: image-url('home_big.jpg');
  width: 1440px;
  height: 300px;
  .container{
    text-align: center;
    padding-top: 50px;
  }
  h1{
    color: #fff;
    font-size: 40px;
  }
  .home-search{
    margin-top: 50px;
  }
  .home-search-box{
    width: 300px;
  }
  .file-custom::after {
    content: "Choose avatar...";
  }
}

/*login form*/
.trip-form{

  .modal-header{
    background: #212121;
    color: #fff;
    .close{
      color:#fff;
      opacity: 1;
    }
  }

}

/*location*/
#photos-place{
  img{
    width: 200px;
    height: 200px;
  }
}

.one-column{
  h1{
    font-size: 50px;
    border-bottom: 1px dashed #BBBBBB;
    margin-bottom: 10px;
  }
  h2{
    font-size: 30px;
    margin: 10px 0;
    color: #0E507B;
    text-decoration: underline;
  }

  p{
    padding: 10px 10px 10px 0;
  }
}

/*process form*/
/*form styles*/
#msform {
  margin: 50px auto;
  text-align: center;
  position: relative;
  width: 1000px;
}
#msform .form-slide {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 1000px;
  margin: 0;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform .form-slide:not(:first-of-type) {
  display: none;
}
/*inputs
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}*/
/*buttons*/
#msform .action-button {

  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 13px;
  width: 200px;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 15px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #777;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;

}
/*basic info*/
.basic-info-schedule{
  margin-top: 20px;
  background-color: #E7F4F2;
  padding: 10px 0;
  .basic-schedule-detail{
    margin: 10px 0;
  }
}


/*tab itinerary*/
.badge {
  background-color: #777;
}

.tabs-left { margin-top: 3rem; }

.nav-tabs-vertical {
  float: left;
  border-bottom: 0;
  min-height: 100px;


  li {
    float: none;
    margin: 0;

    a {
      margin-right: 0;
      border: 0;
      background-color: #333;

      &:hover {
        background-color: #fff;
        .glyphicon{
          color: #333;

        }
      }
    }
  }

  .glyphicon {
    color: #fff;
  }

  .active a
  {
    background-color: #fff;
    .glyphicon {
      color: #333;
    }
  }
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
  border:0;
}

.tab-content {
  margin-left: 45px;

  .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
  }

  .active { display: block; }
}

.list-group {
  width: 100%;

  .list-group-item {
    height: 50px;

    h4, span {
      line-height: 11px;
    }
  }
}