<h1 style="margin: auto; text-align:center">Trips search result!!!</h1>
<% if !@trips.blank? %>
    <div class="horizontal-block-center">
      <div class="trip-list horizontal-block-center-bg-yellow">
        <div class="container">
          <div class="row">
            <%= render partial: 'trips/trip_summary', collection: @trips, as: :trip %>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <h3>No Trips match your search</h3>
    <%= link_to "Back to homepage", root_path %>
<% end %>
