<div class="region-header">
  <%= image_tag('danang_detail.png') %>
</div>

<div class="region-detail ">

  <div class="region-info">
    <p>
      The charming Vietnamese capital has aged well, preserving the Old Quarter, monuments and colonial architecture, while making room for modern developments alongside. Hanoi may have shrugged off several former names, including Thang Long, or "ascending dragon," but it hasn't forgotten its past, as sites such as Ho Chi Minh's Mausoleum and Hoa Lo Prison attest. Lakes, parks, shady boulevards and more than 600 temples and pagodas add to the appeal of this city, which is easily explored by taxi.
    </p>
  </div>
  <div class="region-photos">
    <div class="trip-gallery-display">
      <h2 class="fs-title short-border">City Gallery</h2>
      <div class="trip-gallery-carousel">
        <div><img width="200" height="150" src="http://static1.squarespace.com/static/5006128ce4b0830aa84ee2e1/50fea406e4b0e7255a600784/50fea407e4b0e7255a601150/1358865470106/Da+Nang+Vietnam+Beach+5.jpg" /></div>
        <div><img width="200" height="150" src="http://media.crossingtravel.com/files/tag/2015/10/06/novotel-danang-premier-han-15592.jpg" /></div>
        <div><img width="200" height="150" src="http://www.vietnammuslimtours.vn/vietnammuslimtours-images/product/photo/Cham_Island.jpg" /></div>
        <div><img width="200" height="150" src="http://i1.trekearth.com/photos/142676/justin_mott_photography_hoi_an.jpg" /></div>
        <div><img width="200" height="150" src="http://hoi-an.anantara.com/uploads/promotions/anantara_hoi_an_walking_tour_offer-1643.jpg" /></div>
      </div>
    </div>

  </div>
</div>
<div class="place-trips">
  <div class="trip-list horizontal-block-center-bg-yellow">
    <h2 class="fs-title short-border">Sai Gon Trips</h2>

    <div class="container">
      <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-image">
              <a href="#">
                <img class="img-responsive" src="http://www.mekongtourism.org/wp-content/uploads/Dragon-Bridge-Danang-Vietnam-01.jpg">
                <span class="card-title">Da Nang - An amazing habour city</span>
              </a>
            </div>

            <div class="card-content">
              <h4>Nam Dinh - Da Nang</h4>
              <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
              <span class="num-people-clone">90 people have cloned this trip.</span>
              <span class="trip-budget">Total budget: 20 000 000VND</span>
            </div>

            <div class="card-action">
              <button class="btn btn-success">
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-image">
              <a href="#">
                <img class="img-responsive" src="http://dulichvietnam360.com/sites/default/files/hoi-an_0.jpg">
                <span class="card-title">You will want to stay in Da Nang forerver</span>
              </a>
            </div>

            <div class="card-content">
              <h4>TP Ho Chi Minh - Da nang</h4>
              <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
              <span class="num-people-clone">10 people have cloned this trip.</span>
              <span class="trip-budget">Total budget: 15 000 000VND</span>
            </div>

            <div class="card-action">
              <button class="btn btn-success">
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
              </button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.trip-gallery-carousel').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 4
    });
  });
</script>
