<div class="one-column">
  <h1>
    Ho Chi Minh City
  </h1>
  <h2>Description</h2>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in lobortis turpis. Donec tincidunt id orci
      tempus tincidunt. Duis eget turpis non ante malesuada porta at nec ante. Nullam tincidunt bibendum lacinia. Ut
      blandit rhoncus velit. Donec volutpat egestas ullamcorper. Cras viverra, ante ut maximus vulputate, dolor enim
      scelerisque mi, eu porta nulla mi et leo.
    </p>
  </div>
  <h2>Photos</h2>

  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="photos-place">
    <a href="http://images.nationalgeographic.com/wpf/media-live/photos/000/714/overrides/ho-chi-minh-city-vietnam_71471_990x742.jpg" title="Banana" data-gallery>
      <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/714/overrides/ho-chi-minh-city-vietnam_71471_990x742.jpg" alt="Banana">
    </a>
    <a href="http://cache1.asset-cache.net/gc/523959663-sunrise-over-ho-chi-minh-city-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=21zqa0CogSjKAyX7FkEw6LrGEseUti1Miq926hUnniodYh4KDlVbnhbTmY1hH%2Fed4KLZNeQbNGkFImowLsMbOw%3D%3D" title="Apple" data-gallery>
      <img src="http://cache1.asset-cache.net/gc/523959663-sunrise-over-ho-chi-minh-city-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=21zqa0CogSjKAyX7FkEw6LrGEseUti1Miq926hUnniodYh4KDlVbnhbTmY1hH%2Fed4KLZNeQbNGkFImowLsMbOw%3D%3D" alt="Apple">
    </a>
    <a href="http://www.photoweeklyonline.com/wp-content/uploads/2011/12/Ho_Chi_Minh_Traffic.jpg" title="Orange" data-gallery>
      <img src="http://www.photoweeklyonline.com/wp-content/uploads/2011/12/Ho_Chi_Minh_Traffic.jpg" alt="Orange">
    </a>
  </div>

  <h2>Maps</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.411213698215!2d106.69680611480088!3d10.779783792319263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f37e6d82451%3A0xe84f59936ced5b45!2sSaigon+Notre-Dame+Basilica!5e0!3m2!1sen!2s!4v1460138362131" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>